.app {
  max-width: 1200px;
  margin: 0 auto;
}

.avatar {
  border-radius: 50%;
  width: 150px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;

}

.languages {
  display: flex;
  justify-content: center;
}

.languages > li {
  cursor: pointer;
  font-weight: bold;
  margin: 10px;
}

.languageSelected {
  color: #d0021b;
}

li {
  list-style-type: none;
}

.popular-item {
  margin: 20px;
  text-align: center;
}

.popular-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.popular-rank {
  font-size: 20px;
  margin: 10px;
}

.space-list-items {
  margin-bottom: 7px;
}

ul {
  padding: 0;
}
