.app {
  max-width: 800px;
  margin: 0 auto;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;

}

.languages {
  display: flex;
  justify-content: center;
}

.languages > li {
  cursor: pointer;
  font-weight: bold;
  margin: 10px;
}

.languageSelected {
  color: #d0021b;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
}
